<h1><%= t('paycheck_templates.index_header') %> </h1>

<table>
  <tr>
    <th><%= t('paycheck_templates.template') %></th>
    <th><%= t('paycheck_templates.line_count') %></th>
    <th></th>
    <th></th>

  </tr>

  <tr>
    <td>
      <%= t('paycheck_templates.global_template') %>
    </td>
    <td>
    </td> 
    <td><%= link_to t('global.show'), paycheck_template_path(:global) %></td>
    <td>
    </td>

  </tr>

<% @employees.each do |emp| %>
  <tr>
    <td><%= emp.name %></td>
    <td>
      <%= emp.paycheck_line_templates.count %>
    </td>
    <td>
      <%= 
	 if emp.paycheck_line_templates.count == 0
	   link_to t('global.create'), paycheck_templates_path(:employee_id => emp.id), :method => 'post' 
	 else
	   link_to t('global.show'), paycheck_template_path(emp.id) 
	 end
	 %>
    </td>
    <td>      
    </td>
  </tr>
<% end %>
</table>

