<h1><%= t('paychecks.index_header') %></h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.paycheck_line_template.employee') %></th>
    <th><%= t('paychecks.paycheck_count') %></th>
    <th></th>
  </tr>
<% @employees.each do |emp| %>
  <tr>
    <td><%= emp %></td>
    <td> <%= Paycheck.where(:employee_id => emp).count %></td>
    <td><%= link_to t('paychecks.new'), new_paycheck_path(:employee_id => emp.id) %></td>
  </tr>
<% end %>
</table>

<%= render :partial => "shared/period_picker" %>


<table>
  <tr>
    <th><%= t('global.period', :count => 1) %></th>
    <th><%= t('activerecord.attributes.paycheck_line_template.employee') %></th>
    <th></th>
  </tr>
<% @paychecks.each do |paycheck| %>
  <tr>
    <td><%= paycheck.period %></td>
    <td><%= paycheck.employee %></td>
    <td>
      <%= link_to t('global.show'), paycheck %>
      <%= link_to t('global.edit'), edit_paycheck_path(paycheck) %>
      <%= link_to t('global.destroy'), paycheck, :confirm => t('global.confirm'), :method => :delete %>
    </td>
  </tr>
<% end %>

</table>

<br />

