
<% form_for([:admin, @company]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, t(:name, :scope => :companies) %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :organization_number, t(:organization_number, :scope => :companies) %><br />
    <%= f.text_field :organization_number %>
  </p>

  <p>
    <%= t(:users, :scope => :companies) %><br />

    <% f.fields_for :assignments do |assignment| %>

      <%= assignment.select :user_id, User.find(:all).collect {|p| [ p.email, p.id ] }, :include_blank => "Add user" %>
      <%= assignment.select :role_id, Role.all.map {|r| [r.name, r.id]}, :include_blank => "Select role" %>

      <% unless assignment.object.new_record? %>
        <%= assignment.check_box '_delete' %>
        <%= assignment.label '_delete', 'Remove' %>
      <% end %>

      <br />

    <% end %>
  </p>
  <p>
    <%= render :partial => "addresses/form", :locals => { :address => @company.address } %>
  </p>
  <p>
    <%= f.submit t(:save, :scope => :companies) %>
  </p>
<% end %>
