<h1><%= t(:listing_companies, :scope => :companies) -%></h1>

<table class='striped'>
  <tr>
    <th><%= t(:name, :scope => :companies) -%></th>
    <th><%= t(:users, :scope => :companies) -%></th>
    <th><%= t(:organization_number, :scope => :companies) -%></th>
    <th><%= t(:address, :scope => :companies) -%></th>
    <th></th>
  </tr>

<% for company in @companies %>
  <tr>
    <td><%= company.name %></td>
    <td><%= list_users company %></td>
    <td><%= company.organization_number %></td>
    <td>  
      <%= render :partial => "addresses/show", :locals => { :address => company.address } %>
    </td>
    <td>
      <%= link_to t("global.show"), admin_company_path(company) %>
      <%= link_to t("global.edit"), edit_admin_company_path(company) %>
      <%= link_to t("global.destroy"), admin_company_path(company), :confirm => t(:destroy_confirmation, :scope => :companies, :name => company.name), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_company, :scope => :companies), new_admin_company_path %>
