<p>
  <b><%= t(:name, :scope => :companies) -%>:</b>
  <%=h @company.name %>
</p>

<p>
  <b><%= t(:users, :scope => :companies) -%>:</b>
  <%=h @company.users.collect {|u| u.email}.join ", " %>
</p>

<p>
  <b><%= t(:accounts, :scope => :companies) -%>:</b>
  <%=h @company.accounts.map {|a| "#{a.number} - #{a.name}"}.join(", ") %>
</p>

<p>
  <b><%= t(:organization_number, :scope => :companies) -%>:</b>
  <%=h @company.organization_number %>
</p>

<p>
  <b><%= t(:address, :scope => :companies) -%>:</b>
  <%= render :partial => "/addresses/show", :locals => { :address => @company.address } %>
</p>


<%= link_to t(:edit, :scope => :companies), edit_admin_company_path(@company) %> |
<%= link_to t(:back, :scope => :companies), admin_companies_path %>
