<%= error_messages_for 'user' %>

<h3>Change password</h3>

<%= start_form_tag :action => 'change_password' %>

<label for="user_password">Choose password:</label><br/>
<%= password_field "user", "password", :size => 20, :value=>"" %><br/>

<label for="user_password_confirmation">Confirm password:</label><br/>
<%= password_field "user", "password_confirmation", :size => 20, :value=>"" %><br/>

<%= submit_tag "Submit" %>

<%= end_form_tag %>

