<%= error_messages_for 'user' %>

<h3><%= t(:change_password, :scope => :users) -%></h3>

<% form_tag(:action => 'change_password') do %>

<label for="user_password"><%= t(:choose_password, :scope => :users) -%>:</label><br/>
<%= password_field "user", "password", :size => 20, :value=>"" %><br/>

<label for="user_password_confirmation"><%= t(:confirm_password, :scope => :users) -%>:</label><br/>
<%= password_field "user", "password_confirmation", :size => 20, :value=>"" %><br/>

<%= submit_tag t(:log_in, :scope => :users) %>

<%= end %>

