<% form_tag(:action => 'forgot_password') do %>

  <h3><%= t(:forgotten_password, :scope => :users) -%></h3>

  <%= t(:email, :scope => :users) -%>: <%= text_field "user", "email" %><br/>

  <%= submit_tag t(:email_password, :scope => :users) %>

<% end %>

<p>
<%= link_to t(:back, :scope => :users), {:action => :login} %>
</p>

