<h1><%= t(:listing_users, :scope => :users) -%></h1>

<table class='striped'>
  <tr>
    <th><%= t(:login, :scope => :users) -%></th>
    <th><%= t(:email, :scope => :users) -%></th>
    <th><%= t(:companies, :scope => :users) -%></th>
    <th></th>
  </tr>

  
  <% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.email %></td>
    <td>
      <%= user.companies.collect{|c| link_to c.name, c}.join(", ") %>
    </td>
    <td>
      <%= link_to t(:show, :scope => :users), user %>
      <%= link_to t(:edit, :scope => :users), edit_user_path(user) %>
      <%= link_to t(:destroy, :scope => :users), user, :confirm => t(:delete_confirmation, :scope => :users, :name => user.login), :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to t(:new_user, :scope => :users), new_user_path %>
