<h1><%= t(:new_user, :scope => :users) -%></h1>

<% form_for(@user) do |f| %>

<%= f.error_messages %><br/>

<%= f.label :login, t(:login, :scope => :users) %><br/>
<%= f.text_field :login %><br/>

<%= f.label :password, t(:password, :scope => :users)  %><br/>
<%= f.password_field :password %><br/>

<%= f.label :email, t(:email, :scope => :users) %><br/>
<%= f.text_field :email %><br/>

<%= f.submit t(:signup, :scope => :users) %>

<% end %>

<p>
<%= link_to t(:back, :scope => :users), {:action => :login} %>
</p>

