<script>
  /*
  Use an object as a fake namespace. Spiffy.
  */
  var LODO = new Object();
  LODO.orderList = <%= @orders_all.all.to_json(
    :include => {:company => {},
                 :customer => {},
                 :seller => {},
                 :transport => {},
                 :order_items => {:include => :product}})
  %>;
  LODO.billItemList = <%= @bill.bill_orders.to_json(
    :include => :bill_items) %>;
</script>


<%= form_for(@bill) do |f| %>
  <%= f.error_messages %>


  <table id="order_template" style="display: none" class='striped'>
    <thead>
      <tr>
        <th><%= t(:product, :scope => :bills) -%></th>
	<th><%= t(:unit_price, :scope => :bills) -%></th>
	<th><%= t(:remaining, :scope => :bills) -%></th>
	<th><%= t(:amount, :scope => :bills) -%></th>
	<th><%= t(:discount, :scope => :bills) -%></th>
	<th><%= t(:total_price, :scope => :bills) -%></th>
      </tr>
    </thead>
    <tbody id='order_template_rows'></tbody>
    <tfoot>
      <tr>
	<td><%= t(:total_for_this_order, :scope => :bills) -%>:</td>
	<td id='order_template_unit_price'></td>
	<td></td>
	<td></td>
	<td></td>
	<td id='order_template_price_label'>0,00</td>
      </tr>
    </tfoot>
  </table>


  <table id="bill" class='striped'>
    <thead>
      <tr>
	<th><%= t(:order, :scope => :bills) -%></th>
	<th><%= t(:products, :scope => :bills) -%></th>
      </tr>
    </thead>
    <tbody id='bill_rows'></tbody>
    <tfoot>
      <tr>
	<td><%= t(:total, :scope => :bills) -%>:</td>
	<td>
          <table>
	    <tr>
	      <th><%= t(:product, :scope => :bills) -%></th>
	      <th><%= t(:unit_price, :scope => :bills) -%></th>
	      <th><%= t(:remaining, :scope => :bills) -%></th>
	      <th><%= t(:amount, :scope => :bills) -%></th>
	      <th><%= t(:discount, :scope => :bills) -%></th>
	      <th><%= t(:total_price, :scope => :bills) -%></th>
	    </tr>
            <tr>
	      <td><%= t(:total_for_all_orders, :scope => :bills) -%>:</td>
	      <td id='bill_unit_price'></td>
	      <td></td>
	      <td></td>
              <td></td>
              <td id='bill_price_label'>0,00</td>
            </tr>
          </table>
	</td>
      </tr>
    </tfoot>
  </table>

  <button onClick='bills.addOrder();' type='button'><%= t(:add_order, :scope => :bills) -%></button>

  <p>
    <%= f.label :delivery_date, t(:delivery_date, :scope => :bills) %><br />
    <%= f.unobtrusive_date_text_picker :delivery_date, :format=>'y-m-d', :divider=>'-' %>
  </p>
  <p>
    <%= f.label :billing_date, t(:billing_date, :scope => :bills) %><br />
    <%= f.unobtrusive_date_text_picker :billing_date, :format=>'y-m-d', :divider=>'-' %>
  </p>
  <p>
    <%= f.label :period_id, "Period" %><br />
    <%= f.select :period_id, @me.open_periods.collect {|p| [ p.year.to_s + "-" + p.nr.to_s, p.id ] } %>
  </p>
  <p>
    <%= f.label :due_date, "Due date" %><br />
    <%= f.unobtrusive_date_text_picker :due_date, :format=>'y-m-d', :divider=>'-' %>
  </p>

<% if @bill.invoice_number %>
  <b><%= t("bills.invoice_number", :number => @bill.invoice_number) %></b>
<% else %>
  <p>
    <%= check_box_tag "close_invoice", "1", false %>
    <%= label :close, :invoice, t("bills.close_invoice") %>
  </p>
<% end %>

<p>
<% if @bill.editable? %>
  <%= f.submit t(:save, :scope => :bills) %>
<% end %>
</p>

<% end %>

<script>
  bills.addPredefined();
</script>
