<h1>Listing bills</h1>

<table>
  <tr>
    <th>Delivery date</th>
    <th>Billing date</th>
  </tr>

<% for bill in @bills %>
  <tr>
    <td><%=h bill.delivery_date %></td>
    <td><%=h bill.billing_date %></td>
    <td><%= link_to 'Show', bill %></td>
    <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td><%= link_to 'Destroy', bill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bill', new_bill_path %>
