<h1><%= t(:listing_bills, :scope => :bills) -%></h1>

<table>
  <tr>
    <th><%= t(:delivery_date, :scope => :bills) -%></th>
    <th><%= t(:billing_date, :scope => :bills) -%></th>
  </tr>

<% for bill in @bills %>
  <tr>
    <td><%=h l(bill.delivery_date) %></td>
    <td><%=h l(bill.billing_date) %></td>
    <td><%= link_to t(:show, :scope => :bills), bill %></td>
    <td><%= link_to t(:edit, :scope => :bills), edit_bill_path(bill) %></td>
    <td><%= link_to t(:destroy, :scope => :bills), bill, :confirm => t(:confirm_destroy, :scope => :bills, :number => bill.id), :method => :delete %></td>
    <td><%= link_to "View journal entry", bill.journal %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_bill, :scope => :bills), new_bill_path %>
