<p>
  <b><%= t(:delivery_date, :scope => :bills) -%>:</b>
  <%=h l(@bill.delivery_date) %>
</p>

<p>
  <b><%= t(:billing_date, :scope => :bills) -%>:</b>
  <%=h l(@bill.billing_date) %>
</p>


<%= link_to t(:edit, :scope => :bills), edit_bill_path(@bill) %> |
<%= link_to t(:back, :scope => :bills), bills_path %>
