<h1><%= t(:listing_orders, :scope => :orders) -%></h1>

<table>
  <tr>
    <th><%= t(:price, :scope => :orders) -%></th>
    <th><%= t(:order_date, :scope => :orders) -%></th>
    <th><%= t(:requested_delivery_date, :scope => :orders) -%></th>
    <th><%= t(:seller, :scope => :orders) -%></th>
    <th><%= t(:customer, :scope => :orders) -%></th>
    <th><%= t(:delivery_address, :scope => :orders) -%></th>
    <th><%= t(:transport, :scope => :orders) -%></th>
    <th></th>
  </tr>

<% for order in @orders %>
  <tr>
    <td><%= order.price %></td>
    <td><%= l(order.order_date) %></td>
    <td><%= l(order.requested_delivery_date) %></td>
    <td><%= order.seller.email %></td>
    <td><%= order.customer.name %></td>
    <td><%= render :partial => "addresses/show", :locals => { :address => order.delivery_address } %></td>
    <td><%= order.transport.name %></td>
    <td>
      <%= link_to t(:show, :scope => :orders), order %>
      <%= link_to t(:edit, :scope => :orders), edit_order_path(order) %>
      <%= link_to t(:destroy, :scope => :orders), order, :confirm => t(:confirm_destroy, :scope => :orders, :ordrenummer => order.id), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_order, :scope => :orders), new_order_path %>
