<p>
  <table class='striped'>
    <thead>
      <tr>
		<th>
      <%= t(:product, :scope => :orders) -%>
		</th>
		<th>
		  <%= t(:unit_price, :scope => :orders) -%>
		</th>
		<th>
		  <%= t(:amount, :scope => :orders) -%>
		</th>
		<th>
		  <%= t(:total_price, :scope => :orders) -%>
		</th>
      </tr>
    </thead>
    <tbody>
      <% for it in @order.order_items %>
      <tr>
		<td>
		  <%= it.product.name %>
		</td>
		<td>
		  <%= it.product.price %>
		</td>
		<td>
		  <%= it.amount %>
		</td>
      </tr>
      <% end %>
    </tbody>
    
  </table>

</p>

<p>
  <b><%= t(:price, :scope => :orders) -%>:</b>
  <%=h @order.price %>
</p>

<p>
  <b><%= t(:vat, :scope => :orders) -%>:</b>
  <%=h @order.mva %>
</p>

<p>
  <b><%= t(:order_date, :scope => :orders) -%>:</b>
  <%=h l(@order.order_date) %>
</p>

<p>
  <b><%= t(:requested_delivery_date, :scope => :orders) -%>:</b>
  <%=h l(@order.requested_delivery_date) %>
</p>

<p>
  <b><%= t(:seller, :scope => :orders) -%>:</b>
  <%=h @order.seller.name %>
</p>

<p>
  <b><%= t(:customer, :scope => :orders) -%>:</b>
  <%=h @order.customer.name %>
</p>

<p>
  <b><%= t(:delivery_address, :scope => :orders) -%>:</b>
  <%= render :partial => "addresses/show", :locals => { :address => @order.delivery_address } %>
</p>

<p>
  <b><%= t(:transport, :scope => :orders) -%>:</b>
  <%=h @order.transport.name %>
</p>

<p>
  <b>Unit</b>
  <%=h @order.unit.name %>
</p>

<p>
  <b>Project</b>
  <%=h @order.project.name %>
</p>


<%= link_to t(:edit, :scope => :orders), edit_order_path(@order) %> |
<%= link_to t(:back, :scope => :orders), orders_path %>
