<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Comments</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= render :partial => "/addresses/show", :locals => { :address => project.address }  %></td>
    <td><%= project.comments %></td>
    <td><%= link_to t("global.show"), project %></td>
    <% if permitted_to? :edit, project %>
      <td><%= link_to t("global.edit"), edit_project_path(project) %></td>
    <% end %>
    <% if permitted_to? :delete, project %>
      <td><%= link_to t("global.destroy"), project, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if permitted_to? :create, :projects %>
  <%= link_to 'New project', new_project_path %>
<% end %>
