<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Address:</b>
  <%= render :partial => "/addresses/show", :locals => { :address => @project.address }  %>
</p>

<p>
  <b>Comments:</b>
  <%=h @project.comments %>
</p>


<% if permitted_to? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
