<p id="notice"><%= notice %></p>

<p>
  <b>County:</b>
  <%= @county_tax_zone.county_id %>
</p>

<p>
  <b>County:</b>
  <%= @county_tax_zone.tax_zone_id %>
</p>

<p>
  <b>From:</b>
  <%= @county_tax_zone.from %>
</p>


<%= link_to 'Edit', edit_admin_county_tax_zone_path(@county_tax_zone) %> |
<%= link_to 'Back', admin_county_tax_zones_path %>
