<p>
  <b>Name:</b>
  <%=h @company.name %>
</p>

<p>
  <b>Users:</b>
  <%=h @company.users.collect {|u| u.login}.join ", " %>
</p>

<p>
  <b>Accounts:</b>
  <%=h @company.accounts %>
</p>

<p>
  <b>Organization number:</b>
  <%=h @company.organization_number %>
</p>

<p>
  <b>Address:</b>
  <%= render :partial => "addresses/show", :locals => { :address => @company.address } %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
