<h1>New bill_item</h1>

<%= form_for(@bill_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :order_item %><br />
    <%= f.text_field :order_item %>
  </p>
  <p>
    <%= f.label :count %><br />
    <%= f.text_field :count %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', bill_items_path %>
