<div class='address'>
  <% if address.name && address.name != "" %>
  <%= address.name %><br/>
  <% end %>
  <%= address.street1 %><br/>
  <% if address.street2 && address.street2 != "" %>
  <%= address.street2 %><br/>
  <% end %>
  <%= address.postal_code %>   <%= address.town %><br/>
  <% if address.country && address.country != "" %>
  <%= address.country %><br/>
  <% end %>
</div>

