<h1><%= t(:listing_journals, :scope => :journals) -%></h1>

<table class='striped'>
  <tr>
    <th><%= t(:type, :scope => :journals) -%></th>
    <th><%= t(:number, :scope => :journals) -%></th>
    <th><%= t(:journal_date, :scope => :journals) -%></th>
    <th></th>
  </tr>

<% for journal in @journals %>
  <tr>
    <td><%=h journal.journal_type %></td>
    <td><%=h journal.number %></td>
    <td><%=h l(journal.journal_date) %></td>
    <td>
      <%= link_to t(:show, :scope => :journals), journal %>
      <%= link_to t(:edit, :scope => :journals), edit_journal_path(journal) %>
      <%= link_to t(:destroy, :scope => :journals), journal, :confirm => t(:confirm_destroy, :scope => :journals, :number => journal.number), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_journal, :scope => :journals), new_journal_path %>
