<h1>Listing journals</h1>

<table class='striped'>
  <tr>
    <th>Type</th>
    <th>Number</th>
    <th>Journal date</th>
    <th></th>
  </tr>

<% for journal in @journals %>
  <tr>
    <td><%=h journal.journal_type %></td>
    <td><%=h journal.number %></td>
    <td><%=h journal.journal_date %></td>
    <td>
      <%= link_to 'Show', journal %>
      <% if journal.editable? %>
        <%= link_to 'Edit', edit_journal_path(journal) %>
        <%= link_to 'Destroy', journal, :confirm => 'Are you sure?', :method => :delete %>
      <% elsif not journal.bill.nil? %>
        <%= link_to 'Show bill', :controller => "bills", :action => "show", :id => journal.bill.id %>
        <% if journal.bill.editable? %>
          <%= link_to 'Edit bill', :controller => "bills", :action => "edit", :id => journal.bill.id %>
          <%= link_to 'Destroy bill', journal.bill, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New journal', new_journal_path %>
