<p>
  <b><%= t(:type, :scope => :journals) -%>:</b>
  <%=h @journal.journal_type %>
</p>

<p>
  <b><%= t(:number, :scope => :journals) -%>:</b>
  <%=h @journal.number %>
</p>

<p>
  <b><%= t(:journal_date, :scope => :journals) -%>:</b>
  <%=h l(@journal.journal_date) %>
</p>

<p>
  <table class='striped'>
    <thead>
      <tr>
	<th>
	  <%= t(:account, :scope => :journals) -%>
	</th>
	<th>
	  <%= t(:debit, :scope => :journals) -%>
	</th>
	<th>
	  <%= t(:credit, :scope => :journals) -%>
	</th>
      </tr>
    </thead>
    <tbody>
      <% for op in @journal.journal_operations %>
      <tr>
	<td>
	  <%= op.account.name %>
	</td>
	<td>
	  <%= op.debet %>
	</td>
	<td>
	  <%= op.credit %>
	</td>
      </tr>
      <% end %>
    </tbody>
    
  </table>
</p>

<% if @journal.editable? %>
  <%= link_to t(:edit, :scope => :journals), edit_journal_path(@journal) %> |
<% elsif not @journal.bill.nil? %>
  <%= link_to 'Show bill', :controller => "bills", :action => "show", :id => @journal.bill.id %>
  <% if @journal.bill.editable? %>
    <%= link_to 'Edit bill', :controller => "bills", :action => "edit", :id => @journal.bill.id %>
  <% end %>
<% end %>
<%= link_to t(:back, :scope => :journals), journals_path %>
