<p>
  <b><%= t(:type, :scope => :journals) -%>:</b>
  <%=h @journal.journal_type %>
</p>

<p>
  <b><%= t(:number, :scope => :journals) -%>:</b>
  <%=h @journal.number %>
</p>

<p>
  <b><%= t(:journal_date, :scope => :journals) -%>:</b>
  <%=h l(@journal.journal_date) %>
</p>

<p>
  <table class='striped'>
    <thead>
      <tr>
	<th>
	  <%= t(:account, :scope => :journals) -%>
	</th>
	<th>
	  <%= t(:debit, :scope => :journals) -%>
	</th>
	<th>
	  <%= t(:credit, :scope => :journals) -%>
	</th>
      </tr>
    </thead>
    <tbody>
      <% for op in @journal.journal_operation %>
      <tr>
	<td>
	  <%= op.account.name %>
	</td>
	<td>
	  <%= op.debet %>
	</td>
	<td>
	  <%= op.credit %>
	</td>
      </tr>
      <% end %>
    </tbody>
    
  </table>
</p>

<%= link_to t(:edit, :scope => :journals), edit_journal_path(@journal) %> |
<%= link_to t(:back, :scope => :journals), journals_path %>
