<p>
  <b>Type:</b>
  <%=h @journal.journal_type %>
</p>

<p>
  <b>Number:</b>
  <%=h @journal.number %>
</p>

<p>
  <b>Journal date:</b>
  <%=h @journal.journal_date %>
</p>

<p>
  <table class='striped'>
    <thead>
      <tr>
	<th>
	  Account
	</th>
	<th>
	  Debet
	</th>
	<th>
	  Credit
	</th>
      </tr>
    </thead>
    <tbody>
      <% for op in @journal.journal_operation %>
      <tr>
	<td>
	  <%= op.account.name %>
	</td>
	<td>
	  <%= op.debet %>
	</td>
	<td>
	  <%= op.credit %>
	</td>
      </tr>
      <% end %>
    </tbody>
    
  </table>
</p>

<% if @journal.editable? %>
  <%= link_to 'Edit', edit_journal_path(@journal) %> |
<% elsif not @journal.bill.nil? %>
  <%= link_to 'Show bill', :controller => "bills", :action => "show", :id => @journal.bill.id %>
  <% if @journal.bill.editable? %>
    <%= link_to 'Edit bill', :controller => "bills", :action => "edit", :id => @journal.bill.id %>
  <% end %>
<% end %>
<%= link_to 'Back', journals_path %>
