<%= form_for(@vat_account) do |f| %>
  <%= f.error_messages %>
  <% if not @vat_account.id.nil? %>
    <p>
      <%= f.label :vat_id, t('vat.code') %>: <%= @vat_account.id.to_s %>
    </p>
  <% end %>
  <p>
    <%= f.label :target_account_id, t(:account, :scope => :vat) %><br />
    <%= f.select :target_account_id, @me.current_company.accounts.sort_by {|a| a.number}.collect {|p| [ p.number.to_s + " - " + p.name, p.id ] } %>
  </p>
  <p>
    <%= f.check_box :overridable %>     <%= f.label :overridable, t(:overridable, :scope => :vat) %>
  </p>

  <div>
    <table class='striped'>
      <tr>
	<th><%= t('vat.valid_from') %></th>
	<th><%= t('vat.percentage') %></th>
      </tr>

      <% for vat_account_period in @vat_account.vat_account_periods.sort { |a,b| b.valid_from <=> a.valid_from } %>
	<tr>
	  <td>
           <%= vat_account_period.valid_from %>
          </td>
	  <td>
           <%= vat_account_period.percentage %>
           <%= hidden_field_tag "periods[][id]", vat_account_period.id %>
           <%= hidden_field_tag "periods[][valid_from]", vat_account_period.valid_from %>
           <%= hidden_field_tag "periods[][percentage]", vat_account_period.percentage %>
          </td>
	</tr>
      <% end %>
    </table>

    <p>
      <%= f.label "add_period[valid_from]", t('vat.valid_from') %><br />
      <%= unobtrusive_date_text_picker_tag "add_period[valid_from]", DateTime::now() %>
    </p>

    <p>
      <%= f.label "add_period[percentage]", t('vat.percentage') %><br />
      <%= text_field_tag "add_period[percentage]" %>
    </p>

    <p>
      <%= f.submit t('vat.add_period') %>
    </p>
  </div>

  <p>
    <%= f.submit t(:save, :scope => :global) %>
  </p>
<% end %>
