<h1><%= t(:listing_vat_accounts, :scope => :vat) -%></h1>

<table class='striped'>
  <tr>
    <th><%= t(:code, :scope => :vat) -%></th>
    <th><%= t(:account, :scope => :vat) -%></th>
    <th><%= t(:overridable, :scope => :vat) -%></th>
    <th></th>
  </tr>

<% for vat_account in @vat_accounts %>
  <tr>
    <td><%= vat_account.id %></td>
    <td><%= vat_account.target_account.number %> -  <%= vat_account.target_account.name %></td>
    <td>
      <%= vat_account.overridable %>
      <%= link_to t("global.show"), vat_account %>
      <%= link_to t("global.edit"), edit_vat_account_path(vat_account) %>
      <%= link_to t("global.destroy"), vat_account, :confirm => t(:confirm_destroy, :scope => :vat, :code => vat_account.id), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_vat_account, :scope => :vat), new_vat_account_path %>
