<h1>Listing units</h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.unit.name') %></th>
    <th><%= t('activerecord.attributes.unit.address') %></th>
    <th><%= t('activerecord.attributes.unit.comments') %></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= render :partial => "/addresses/show", :locals => { :address => unit.address }  %></td>
    <td><%= unit.comments %></td>
    <td>
      <%= link_to 'Show', unit %>

      <% if permitted_to? :edit, unit %>
      <%= link_to 'Edit', edit_unit_path(unit) %>
      <% end %>

      <% if permitted_to? :delete, unit %>
      <%= link_to 'Destroy', unit, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>

    </td>
  </tr>
<% end %>
</table>

<br />

<% if permitted_to? :create, :units %>
  <%= link_to 'New unit', new_unit_path %>
<% end %>
