<h1><%= t('untis.header_index')%></h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.unit.name') %></th>
    <th><%= t('activerecord.attributes.unit.address') %></th>
    <th><%= t('activerecord.attributes.unit.comments') %></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= render :partial => "/addresses/show", :locals => { :address => unit.address }  %></td>
    <td><%= unit.comments %></td>
    <td>
      <%= link_to t("global.show"), unit %>
      <% if permitted_to? :edit, unit %>
      <%= link_to t("global.edit"), edit_unit_path(unit) %>
      <% end %>
      <% if permitted_to? :delete, unit %>
      <%= link_to t("global.destroy"), unit, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if permitted_to? :create, :units %>
  <%= link_to t('New unit'), new_unit_path %>
<% end %>
