<p>
  <b>Name:</b>
  <%=h @unit.name %>
</p>

<p>
  <b>Address:</b>
  <%= render :partial => "/addresses/show", :locals => { :address => @unit.address }  %>
</p>

<p>
  <b>Comments:</b>
  <%=h @unit.comments %>
</p>

<% if permitted_to? :edit, @unit %>
  <%= link_to 'Edit', edit_unit_path(@unit) %> |
<% end %>
<%= link_to 'Back', units_path %>
