<h1><%= t(:new_user, :scope => :users) -%></h1>

<%= form_for([:admin, @user]) do |f| %>

<%= f.error_messages %><br/>

<%= f.label :email, t(:email, :scope => :users) %><br/>
<%= f.text_field :email %><br/>

<%= f.label :password, t(:password, :scope => :users)  %><br/>
<%= f.password_field :password %><br/>

<%= f.label :password_confirmation, t(:password_confirmation, :scope => :users)  %><br/>
<%= f.password_field :password_confirmation %><br/>

<%= f.submit t(:signup, :scope => :users) %>

<% end %>

<p>
<%= link_to t(:back, :scope => :users), admin_users_path %>
</p>

