
<p>
<b><%= t(:email, :scope => :users) -%>:</b>
  <%= @user.email %>
</p>

<p>
<b><%= t(:companies, :scope => :users) -%>:</b>
<ul>
  <% @user.companies.each do |c| %>
<li><%= link_to c.name, admin_company_path(c)%> </li>
  <% end %>
</ul>
</p>

<%= link_to t(:edit, :scope => :users), edit_admin_user_path(@user) %> |
<%= link_to t(:list, :scope => :users), admin_users_path %>
