<h1><%= t(:editing_product, :scope => :products) -%></h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :price, t(:price, :scope => :products) %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :name, t(:name, :scope => :products) %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit t(:update, :scope => :products) %>
  </p>
<% end %>

<%= link_to t(:show, :scope => :products), @product %> |
<%= link_to t(:back, :scope => :products), products_path %>
