<h1><%= t(:listing_products, :scope => :products) -%></h1>

<table>
  <tr>
    <th><%= t(:price, :scope => :products) -%></th>
    <th><%= t(:name, :scope => :products) -%></th>
    <th>Account</th>
    <th></th>
  </tr>
  
  <% for product in @products %>
  <tr>
    <td><%= product.price -%></td>
    <td><%= product.name %></td>
    <td><%= product.account.name %></td>
    <td>

      <%= link_to t(:show, :scope => :products), product %>
      <% if permitted_to? :edit, product %>
        <%= link_to t(:edit, :scope => :products), edit_product_path(product) %>
      <% end %>
      <% if permitted_to? :delete, product %>
        <%= link_to t(:destroy, :scope => :products), product, :confirm => t(:destroy_confirmation, :scope => :products, :name => product.name), :method => :delete %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<br />

<% if permitted_to? :create, :products %>
  <%= link_to t(:new_product, :scope => :products), new_product_path %>
<% end %>
