<p>
  <b><%= t(:price, :scope => :products) -%>:</b>
  <%=h @product.price %>
</p>

<p>
  <b><%= t(:name, :scope => :products) -%>:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Account:</b>
  <%=h @product.account.name %>
</p>


<%= link_to t(:edit, :scope => :products), edit_product_path(@product) %> |
<%= link_to t(:back, :scope => :products), products_path %>
