<p>
  <b><%= t(:price, :scope => :products) -%>:</b>
  <%= @product.price %>
</p>

<p>
  <b><%= t(:name, :scope => :products) -%>:</b>
  <%= @product.name %>
</p>

<p>
  <b>Account:</b>
  <%= @product.account.name %>
</p>

<% if permitted_to? :edit, @product %>
  <%= link_to t(:edit, :scope => :products), edit_product_path(@product) %> |
<% end %>
<%= link_to t(:back, :scope => :products), products_path %>
