<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>LODO</title>
  <%= stylesheet_link_tag 'datepicker' %>
  <%= stylesheet_link_tag 'journals' %>
  <%= stylesheet_link_tag 'lodo' %>
  <%= javascript_include_tag :all %>
</head>
<body>
  <div class='main_menu'>
    <ul>
      <% if admin_signed_in? %>

      <li><%= link_to t(:user_administration, :scope => :layout), admin_users_path %></li>
      <li><%= link_to t(:administrators, :scope => :layout), admin_admins_path %></li>
      <li><%= link_to t(:companies, :scope => :layout), admin_companies_path %></li>

      <li><%= link_to t(:tax_zones, :scope => :layout), admin_tax_zones_path %></li>
      <li><%= link_to t(:tax_zone_taxes, :scope => :layout), admin_tax_zone_taxes_path %></li>
      <li><%= link_to t(:counties, :scope => :layout), admin_counties_path %></li>
      <li><%= link_to t(:county_tax_zones, :scope => :layout), admin_county_tax_zones_path %></li>

      <li>
	<%= t(:logged_in_as, :scope => :layout) -%> <%= current_admin.email %> (<%= link_to t(:log_out, :scope => :layout), destroy_admin_session_path %>)
      </li>

      <% elsif user_signed_in? %>

      <li><%= link_to t(:chart_of_accounts, :scope => :layout), accounts_path %></li>
      <li><%= link_to t(:vat_plan, :scope => :layout), vat_accounts_path %></li>
      <li><%= link_to t(:journals, :scope => :layout), journals_path %></li>
      <li><%= link_to t(:projects, :scope => :layout), projects_path %></li>
      <li><%= link_to t(:units, :scope => :layout), units_path %></li>
      <li><%= link_to t(:products, :scope => :layout), products_path %></li>
      <li><%= link_to t(:orders, :scope => :layout), orders_path %></li>
      <li><%= link_to t(:bills, :scope => :layout), bills_path %></li>
      <li><%= link_to t("global.period", :count => 20), periods_path %></li>
      <li><%= link_to t(:paycheck_templates, :scope => :layout), paycheck_templates_path %></li>
      <li><%= link_to t(:paychecks, :scope => :layout), paychecks_path %></li>
      
      <li><%= link_to t(:paycheck_periods, :scope => :layout), paycheck_periods_path %></li>

      <li>
	<%= t(:logged_in_as, :scope => :layout) -%> <%= current_user.email %> (<%= link_to t(:log_out, :scope => :layout), destroy_user_session_path %>)
      </li>

      <li class="change_company_form">
      <%= form_tag change_company_path, :method => :put do -%>
         <label for="current_company"><%= t(:active_company, :scope => :layout) -%>:</label>
         <%= select_tag "current_company", options_for_select(current_user.companies.collect {|p| [ p.name, p.id ] },
                                                              if current_user.current_company.nil? then 0 else current_user.current_company.id end ) %>
        <% end %>
        <script>submitAction.registerSubmitAction('#current_company', 'change', '.change_company_form form');</script>
      </li>
      
      <% else %>
      <li><%= link_to "Til forsiden", root_path  %></li>
      <% end %>

    </ul>
  </div>

  <div class='messages'>
    <% if flash[:error] %>
      <div class='messages_inner error'>
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class='messages_inner alert'>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class='messages_inner notice'>
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>

  <div class='content'>
    <div class='content_inner'>
      <%= yield  %>
      <div class='content_post'>
      </div>
    </div>
  </div>

  <script>
    stripe();
  </script>
</body>
</html>
