<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>LODO</title>
  <%= stylesheet_link_tag 'journals' %>
  <%= stylesheet_link_tag 'lodo' %>
  <%= javascript_include_tag 'jquery' %>
  <% Dir.open("#{RAILS_ROOT}/public/javascripts/").reject {|f| f.to_s =~ /jquery/ }.reject{|f| f.to_s =~ /^\.+$/}.each do |js| -%>
    <script src="/javascripts/<%= js.to_s -%><%= ActionController::Base.perform_caching ? "" : "?#{(rand() * 10000000000000000).to_i}" -%>" type="text/javascript"></script>
  <% end %>
</head>
<body>
  <% if session[:user] %>
  
  <div class='main_menu'>
    <ul>
      <li>
	<%= link_to 'User administration', users_path %>
      </li>

      <li>
	<%= link_to 'Account plan', accounts_path %>
      </li>
      <li>
	<%= link_to 'VAT plan', vat_accounts_path %>
      </li>

      <li>
	<%= link_to 'Journals', journals_path %>
      </li>

      <li>
	<%= link_to 'Companies', companies_path %>
      </li>

      <li>
	<%= link_to 'Products', products_path %>
      </li>

      <li>
	<%= link_to 'Orders', orders_path %>
      </li>

      <li>
	<%= link_to 'Bills', bills_path %>
      </li>

      <li>
	Logged in as <em><%= link_to session[:user].login, :controller => 'users', :action => 'show', :id => session[:user].id %></em> (<%= link_to 'Log out', :controller => 'users', :action => 'logout' %>)
      </li>

      <li class="change_company_form">
        <% form_tag :controller => "users", :action=> "change_current_company" do -%>
         <label for="current_company">Company:</label>
         <%= select_tag "current_company", options_for_select(session[:user].companies.collect {|p| [ p.name, p.id ] },
                                                              if session[:user].current_company.nil? then 0 else session[:user].current_company.id end ) %>
        <% end %>
        <script>submitAction.registerSubmitAction('#current_company', 'change', '.change_company_form form');</script>
      </li>

    </ul>
  </div>

  <% end %>

  <% if flash[:notice] %>
  <div class='messages'>
    <div class='messages_inner'>
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>

  <div class='content'>
    <div class='content_inner'>
      <%= yield  %>
      <div class='content_post'>
      </div>
    </div>
  </div>

  <script>
    stripe();
  </script>
</body>
</html>
