<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>LODO</title>
  <%= stylesheet_link_tag 'journals' %>
  <%= stylesheet_link_tag 'lodo' %>
  <%= javascript_include_tag 'journals' %>
  <%= javascript_include_tag 'lodo' %>
  <%= javascript_include_tag 'jquery' %>
</head>
<body>

  <% if session[:user] %>

  <div class='main_menu'>
    <ul>
      <li>
	<%= link_to 'User administration', users_path %>
      </li>
      <li>
	<%= link_to 'Account plan', accounts_path %>
      </li>
      <li>
	<%= link_to 'Journals', journals_path %>
      </li>
      <li>
	<%= link_to 'Log out', :controller => 'users', :action => 'logout' %>
      </li>
      <li>
	Logged in as <%= link_to session[:user].login, :controller => 'users', :action => 'show', :id => session[:user].id %>
      </li>


    </ul>
  </div>

  <% end %>

  <% if flash[:notice] %>
  <div class='messages'>
    <div class='messages_inner'>
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>

  <div class='content'>
    <div class='content_inner'>
      <%= yield  %>
      <div class='content_post'>
      </div>
    </div>
  </div>

  <script>
    stripe();
  </script>
</body>
</html>
