<div id="ledgers">
  <% if @account.ledgers.size == 0 %>
    <%= javascript_tag "$(document).ready( function () { $('#ledgers').hide(); } );" %>
  <% end %>

  <hr style="clear: both;" />

  <h2><%= t(:ledger_accounts, :scope => :accounts) -%></h2>
  <table id="ledger_table">
    <tr>
      <th><%= t(:number, :scope => :accounts) -%></th>
      <th><%= t(:name, :scope => :accounts) -%></th>
      <th><%= t(:telephone_number, :scope => :accounts) -%></th>
      <th><%= t(:mobile_number, :scope => :accounts) -%></th>
      <th><%= t(:email, :scope => :accounts) -%></th>
      <th><%= t(:credit_days, :scope => :accounts) -%></th>
      <th><%= t(:auto_payment, :scope => :accounts) -%></th>
      <th><%= t(:placement_top, :scope => :accounts) -%></th>
      <th><%= t(:unit, :scope => :accounts) -%></th>
      <th><%= t(:project, :scope => :accounts) -%></th>
    </tr>
    
    <% @account.ledgers.each do |ledger| %>
    <tr class="ledger_item" id="ledger_id_<%= ledger.id %>">
      <td><%= ledger.number -%></td>
<!--
      <td><%= link_to ledger.name, edit_account_ledger_path(ledger.account, ledger) -%></td>
-->
      <td><%= ledger.name -%></td>
      <td><%= ledger.telephone_number -%></td>
      <td><%= ledger.mobile_number -%></td>
      <td><%= ledger.email -%></td>
      <td><%= ledger.credit_days -%></td>
      <td><%= ledger.auto_payment -%></td>
      <td><%= ledger.placement_top -%></td>
      <td><%= ledger.unit ? ledger.unit.name : "" -%></td>
      <td><%= ledger.project ? ledger.project.name : "" -%></td>
    </tr>
    <% end %>

  </table>
    <%= javascript_tag "$(document).ready( accounts.makeRowsClickable() );" %>

    <button type="button" onclick="accounts.prepareFormForNewLedger();"><%= t(:new_ledger, :scope => :accounts) -%></button>

    <div id="ledger_form_wrapper">
      <%= render :partial => "ledger_form" %>
    </div>
    
</div>
