<%
   account ||= nil
   ledger ||= Ledger.new
   @account ||= account
   @ledger ||= ledger
   @ledger.address ||= Address.new
%>

<% form_for([@account, @ledger], {:name => "new_ledger", :id => "ledger_form"} ) do |f| %>

<div id="ledger_form_div" style="float: left;">
  <h3>Ledger</h3>
  
  <p>
    <%= f.label :number, "Account number" %><br />
    <%= f.text_field :number %>
  </p>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
  <p>
    <%= f.label :telephone_number, "Telephone" %><br />
    <%= f.text_field :telephone_number %>
  </p>
  <p>
    <%= f.label :mobile_number, "Mobile" %><br />
    <%= f.text_field :mobile_number %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :ledger_bank_number, "Bank account" %><br />
    <%= f.text_field :ledger_bank_number %>
  </p>
  <p>
    <%= f.label :foreign_bank_number %><br />
    <%= f.text_field :foreign_bank_number %>
  </p>
  <p>
    <%= f.label :credit_days %><br />
    <%= f.text_field :credit_days %>
  </p>
  <p>
    <%= f.label :auto_payment %><br />
    <%= f.check_box :auto_payment %>
  </p>
  <p>
    <%= f.label :placement_top %><br />
    <%= f.check_box :placement_top %>
  </p>
  <p>
    <%= f.label :net_bank %><br />
    <%= f.check_box :net_bank %>
  </p>
  
  <p>
    <%= f.label :unit_id, "Default unit" %><br />
    <%= f.select :unit_id, Unit.find(:all).map {|u| [u.name, u.id]}, {:include_blank => true} %>
  </p>
  <p>
    <%= f.label :project_id, "Default project" %><br />
    <%= f.select :project_id, Project.find(:all).map {|p| [p.name, p.id]}, {:include_blank => true} %>
    </p>
  <p>
    <%= f.label :debit_text %><br />
    <%= f.text_field :debit_text %>
  </p>
  <p>
    <%= f.label :credit_text %><br />
    <%= f.text_field :credit_text %>
  </p>
  <p>
    <%= f.label :comment, "Notes" %><br />
    <%= f.text_area :comment %>
  </p>
</div>

<div id="addresses" style="float: left;">
  
  <h4>Address</h4>
  <% f.fields_for :address do |a| %>
  <p>
    <%= a.label :name %><br />
    <%= a.text_field :name %>
  </p>
  <p>
    <%= a.label :street1 %><br />
    <%= a.text_field :street1 %>
  </p>
  <p>
    <%= a.label :street2 %><br />
    <%= a.text_field :street2 %>
  </p>
  <p>
    <%= a.label :postal_code %><br />
    <%= a.text_field :postal_code %>
  </p>
  <p>
    <%= a.label :town %><br />
      <%= a.text_field :town %>
  </p>
  <p>
    <%= a.label :country %><br />
    <%= a.text_field :country %>
  </p>
  <% end %>
</div>

<div style="clear: both;" />

<%= submit_tag "Save" %>
<%= javascript_tag "$('#new_ledger').submit( function () { jQuery.ajax({
		    type: 'POST',
		    url: '/accounts/#{@account.id}/ledgers',
		    data: $('#new_ledger').serialize(),
		    success: accounts.updateLedgerItemsTable,
		      error: accounts.errorSavingLedger,
		      dataType: 'json'
		      }); return false; });" %>

<% end %>
