<h1><%= t(:listing_accounts, :scope => :accounts) %></h1>

<table class='striped'>
  <tr>
    <th><%= t(:number, :scope => :accounts) -%></th>
    <th><%= t(:name, :scope => :accounts) -%></th>
    <th><%= t("accounts.vat_account") -%></th>
    <th><%= t('accounts.ledger') -%></th>
    <th></th>
  </tr>
<% for account in @accounts %>
  <tr>
    <td><%= account.number %></td>
    <td><%= account.name %></td>
    <td><%= (account.vat_account ? account.vat_account.target_account.name : "") %></td>
    <td>
      <%
	 first=true
	 if account.ledgers.count>0
%>
      <%= account.ledgers.collect{ |l| l.to_s }.join ", " %>
      
<%
         end %>
    </td>
    <td>
      <%= link_to t("global.show"), account %>
      <%= link_to t("global.edit"), edit_account_path(account) %>
      <%= link_to t("global.destroy"), account, :confirm => t(:confirm_delete, :scope => :accounts, :name => account.name), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_account, :scope => :accounts), new_account_path %>

