<h1>Listing accounts</h1>

<table class='striped'>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th></th>
  </tr>
<% for account in @accounts %>
  <tr>
    <td><%=h account.number %></td>
    <td><%=h account.name %></td>
    <td>
      <%= link_to 'Show', account %>
      <%= link_to 'Edit', edit_account_path(account) %>
      <%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New account', new_account_path %>
