<p>
  <b><%= t(:number, :scope => :accounts) -%>:</b>
  <%=h @account.number %>
</p>

<p>
  <b><%= t(:name, :scope => :accounts) -%>:</b>
  <%=h @account.name %>
</p>

<p>
  <b><%= t(:lodo_name, :scope => :accounts) -%>:</b>
  <%=h @account.lodo_name %>
</p>


<p>
  <b><%= t(:debit_text, :scope => :accounts) -%>:</b>
  <%=h @account.debit_text %>
</p>

<p>
  <b><%= t(:credit_text, :scope => :accounts) -%>:</b>
  <%=h @account.credit_text %>
</p>

<p>
  <b><%= t(:vat_account, :scope => :accounts) -%>:</b>
  <%=h @account.vat_description %>
</p>

<p>
  <b><%= t(:comments, :scope => :accounts) -%>:</b>
  <%=h @account.comments %>
</p>

<p>
  <b><%= t(:ledger, :scope => :accounts) -%>:</b>
  <% if @account.has_ledger %>
  ...
  <% else %>
  No
  <% end %>
</p>


<%= link_to t(:edit, :scope => :accounts), edit_account_path(@account) %> |
<%= link_to t(:back, :scope => :accounts), accounts_path %>
